[build]
  base = "astro-barber-template"
  command = "npm run build"
  publish = "dist"

[dev]
  command = "npm run dev"
  targetPort = 4321
  port = 8888

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
